:root {
  --quotes-bg: #F6DED8;
}

.hero-title {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--quotes-bg);
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  padding-top: 15vh;
  margin: 0;

}

@media (min-width: 640px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 3.5rem;
  }
}
